[submodule "appengine-wordpress-plugin"]
	path = appengine-wordpress-plugin
	url = https://github.com/GoogleCloudPlatform/appengine-wordpress-plugin.git
[submodule "batcache"]
	path = batcache
	url = https://github.com/Automattic/batcache.git
[submodule "wp-memcache"]
	path = wp-memcache
	url = https://github.com/jeremyfelt/Memcached-Object-Cache.git
